@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;700&display=swap');

 body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #292F33;
    font-family: 'Titillium Web', sans-serif
}

:root {
    --mainColor: #55ACEE;
    --mainColorLight: #5767aa;
    --secondaryColor: #d1dd24;
    --textColor: #ffffff
}